<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <title>Cars View</title>
    <script type="text/javascript" src="bower_resources/angular/angular.js"></script>
    <link rel="stylesheet" href="css/mycss.css" />
<script>

    var app = angular.module('carsApp', []);
    
    function CarsController($scope, $http){
        
        $scope.getCar = function() {           
            $http({method: 'GET', url: 'http://localhost:8881/car/2'}).
            success(function(data, status, headers, config) {
                $scope.car = data;
            }).
            error(function(data, status, headers, config) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        
        };
    };
</script>
</head>
<body ng-app="carsApp">
    <div data-ng-controller="CarsController">
        <button data-ng-click="getCar()">Get car from server template resource</button>
        <p>Car model : {{car.model}}</p>
    </div>
    <div class="myclass">
        <p>My text</p>
    </div>
</body>
</html>