<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <title>Cars View</title>
    <script type="text/javascript" src="./bower_resources/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_resources/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./bower_resources/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers/carcontroller.js"></script>
    <script type="text/javascript" src="./app/services/carservice.js"></script>

    <link rel="stylesheet" href="./bower_resources/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body>
    <!-- 
    <div ng-app="simpleApp">
        <div ng-controller="SimpleController">
            <h1>{{helloData.message + " world"}}</h1>
        </div>
    </div>
    -->
    <div ng-app="carsApp">
        <div ng-controller="CarController">
            <h4>Table content</h4>
            <table border="1">
                <thead>
                    <tr>
                        <th ng-repeat="(key, val) in cars[0]">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in cars">
                        <td ng-repeat="(key, val) in car">{{val}}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <h4>Cars list content</h4>
            <ul ng-repeat="car in cars">
                <li>{{car.manufacturer}}</li>
            </ul>
        </div>
    </div>
</body>
</html>